body{https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fsevenacademy7&psig=AOvVaw2m8Fh-zwSODB3DbP3IOkgq&ust=1599298705689000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCDoqCaz-sCFQAAAAAdAAAAABAJ}
* {
  margin: 0;
  padding: 0;
  front-family: Century Gothic;
}
header {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fsevenacademy7&psig=AOvVaw2m8Fh-zwSODB3DbP3IOkgq&ust=1599298705689000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCDoqCaz-sCFQAAAAAdAAAAABAJ);
}
#title {
  color: yellow;
  text-align: center;
}
.body-text {
  color: whitesmoke;
}

.lee {
  color: white;
}
